.mainImage {
  background: URL("/Images/Farm_Flower.jpeg") no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  min-height: 600px; }
  .mainImage ul {
    text-align: center;
    padding-top: 10px;
    padding-left: 0px; }
    .mainImage ul li {
      display: inline-block;
      list-style-type: none;
      font-size: 28px;
      padding: 5px;
      border: 1px solid grey; }
